:root {
  --gradient: linear-gradient(180deg, #FBAB7E 0%, #F7CE68 100%);

  --c1: #ffffff;
  --c2: #000000;
  --c3: #FBAB7E;
  --c4: #636363;
  --c5: #14adff;
  --c6: #119ce7;
  --c7: #eeeeee;
  --c8: #838383;
}